<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sasa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button fill="clear" (click)="back('../home')">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title size="large">sasa</ion-title>
    </ion-toolbar>
  </ion-header>

    <img class="perfil"
      src="https://imgs.search.brave.com/2J8uX2wqtKkq46VritM0H5E-a8NUJvTt5-2XdSbvCp0/rs:fit:1077:1074:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzIxL2M0/LzliLzIxYzQ5YmFj/MTNhNWU2YzVkZWY0/Mjg2MjgyNmNjZjA4/LnBuZw"
      alt="">
      <ion-row>
        <ion-col>
          <ion-button size="large" class="aboutButton">
            <ion-icon slot="start" size="large" name="call"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="large" class="aboutButton">
            <ion-icon slot="start" size="large" name="videocam"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="large" class="aboutButton">
            <ion-icon cslot="start" size="large" name="search"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-card>
        <ion-card-content> something serious </ion-card-content>
      </ion-card>
</ion-content>
