<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>marinao</ion-title>
  </ion-toolbar>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&family=Roboto&display=swap");

  </style>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button fill="clear" (click)="back('../home')">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title size="large">marinao</ion-title>
    </ion-toolbar>
  </ion-header>

  <img class="perfil"
    src="https://imgs.search.brave.com/rHGxLmHEhHXYHU9D0Nd_u6C5hO1Ae1WbsohRAjJAI84/rs:fit:1000:1000:1/g:ce/aHR0cHM6Ly9hcnQu/bmdmaWxlcy5jb20v/aW1hZ2VzLzMwNDAw/MC8zMDQyMzJfamNk/cl90aHJlc2gucG5n/P2YxNDAxNTQ3ODc1"
    alt="" />
  <ion-card>

    <ion-card-content>
      <li>
        149983338899
      </li>
      <li>marina@gmail.com</li>
    </ion-card-content>
  </ion-card>


</ion-content>
