<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>vitao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button fill="clear" (click)="back('../home')">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title size="large">vitao</ion-title>
    </ion-toolbar>
  </ion-header>
    <img class="perfil"
      src="https://pps.whatsapp.net/v/t61.24694-24/328801811_166448572911977_4942312566504415553_n.jpg?ccb=11-4&oh=01_AdQn_Ha2xdNKMRqew8ncothr1kQS3-JGMi6zhNooi7DwTA&oe=6432AE02"
      alt="">

    <ion-card>
      <ion-card-content>
        <li>
          149983338899
        </li>
        <li>vitao@gmail.com</li>
      </ion-card-content>
    </ion-card>
</ion-content>
