<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>mariana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button fill="clear" (click)="back('../home')">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title size="large">mariana</ion-title>
    </ion-toolbar>
  </ion-header>
    <img class="perfil"
        src="https://pps.whatsapp.net/v/t61.24694-24/322272056_719899753110884_7457803750592254941_n.jpg?ccb=11-4&oh=01_AdRtBnieQ-5f_MjxO7WMoVieAljt9-MRzAPYRguAqR8TXw&oe=6432A4B6"
        alt="">

<ion-card>
  <ion-card-content>
    <li>
      149983338899
    </li>
    <li>mari@gmail.com</li>
  </ion-card-content>
</ion-card>

</ion-content>
