<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>mariana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button fill="clear" (click)="back('../home')">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title size="large">mariana</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <img class="perfil"
        src="https://pps.whatsapp.net/v/t61.24694-24/322272056_719899753110884_7457803750592254941_n.jpg?ccb=11-4&oh=01_AdRtBnieQ-5f_MjxO7WMoVieAljt9-MRzAPYRguAqR8TXw&oe=6432A4B6"
        alt="">
  </ion-item>

  <ion-item class="about">
    <ion-label>
      About
    </ion-label>
    <ion-item>Mariana é um nome de origem latina que significa "a que vem de Mário". Pessoas chamadas Mariana tendem a
      ser inteligentes, independentes e dedicadas. A cor associada ao nome Mariana é o verde, que simboliza a natureza e
      a renovação. Algumas pessoas famosas com o nome Mariana incluem a escritora brasileira Mariana Enriquez e a atriz
      portuguesa Mariana Monteiro. De acordo com a numerologia, o número associado ao nome Mariana é o número 8, que
      representa a ambição e a liderança. </ion-item>
  </ion-item>
</ion-content>
