<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list >

    <ion-item (click)="irPara('../marinao')">
      <img class="perfil"
        src="https://imgs.search.brave.com/rHGxLmHEhHXYHU9D0Nd_u6C5hO1Ae1WbsohRAjJAI84/rs:fit:1000:1000:1/g:ce/aHR0cHM6Ly9hcnQu/bmdmaWxlcy5jb20v/aW1hZ2VzLzMwNDAw/MC8zMDQyMzJfamNk/cl90aHJlc2gucG5n/P2YxNDAxNTQ3ODc1"
        alt="">
      <ion-label>marinão</ion-label>
      <ion-button fill="clear">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item (click)="irPara('../mariana')">
      <img class="perfil"
        src="https://pps.whatsapp.net/v/t61.24694-24/322272056_719899753110884_7457803750592254941_n.jpg?ccb=11-4&oh=01_AdRtBnieQ-5f_MjxO7WMoVieAljt9-MRzAPYRguAqR8TXw&oe=6432A4B6"
        alt="">
      <ion-label>mari</ion-label>
      <ion-button fill="clear">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>

    </ion-item>
    <ion-item (click)="irPara('../vitao')">
      <img class="perfil"
        src="https://pps.whatsapp.net/v/t61.24694-24/328801811_166448572911977_4942312566504415553_n.jpg?ccb=11-4&oh=01_AdQn_Ha2xdNKMRqew8ncothr1kQS3-JGMi6zhNooi7DwTA&oe=6432AE02"
        alt="">
      <ion-label>vitão</ion-label>
      <ion-button fill="clear">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>

    </ion-item>
    <ion-item (click)="irPara('../duda')">
      <img class="perfil"
        src="https://pps.whatsapp.net/v/t61.24694-24/337997300_1621983318299929_7318399172688627475_n.jpg?ccb=11-4&oh=01_AdSNqrFuXSUHiFXzjDlIm8SHJDRS0z4YgZrhVPLZzxmMBw&oe=6432C47B"
        alt="">
      <ion-label>duda</ion-label>
      <ion-button fill="clear">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>

    </ion-item>
    <ion-item (click)="irPara('../pepe')">


      <img class="perfil"
        src="https://pps.whatsapp.net/v/t61.24694-24/328169523_935985507760994_6652230036378829192_n.jpg?ccb=11-4&oh=01_AdR7s2NsxdcVR_zuHRV-3V_GO3IKw0cQtQxV0Dy6I38lng&oe=6432A4F9"
        alt="">
      <ion-label>pepe</ion-label>
      <ion-button fill="clear">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>

    </ion-item>
    <ion-item (click)="irPara('../sasa')">
      <img class="perfil"
        src="https://pps.whatsapp.net/v/t61.24694-24/323984114_632597712010765_2478006803098398152_n.jpg?ccb=11-4&oh=01_AdR75zbNcoUThY1g3jcbkQOkIy9zNfZW7zv8ZHShyge4qQ&oe=6432BCB7"
        alt="">
      <ion-label>sasa</ion-label>
      <ion-button fill="clear">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>

    </ion-item>
    <ion-item>
      <ion-label>arquivados</ion-label>
      <ion-button fill="clear">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
