.perfil {
  width: 19%;
  border-radius: 50%;
  margin: 2%;
  -webkit-box-shadow: 4px 23px 26px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 23px 26px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 23px 26px -6px rgba(0, 0, 0, 0.25);
}

ion-label {
  margin-left: 3%;
  font-weight: bold;
}
ion-content {
  background: rgba(233, 227, 247, 1);
  background: -moz-linear-gradient(
    left,
    rgba(233, 227, 247, 1) 0%,
    rgba(164, 140, 217, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(233, 227, 247, 1)),
    color-stop(100%, rgba(164, 140, 217, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(233, 227, 247, 1) 0%,
    rgba(164, 140, 217, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(233, 227, 247, 1) 0%,
    rgba(164, 140, 217, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(233, 227, 247, 1) 0%,
    rgba(164, 140, 217, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(233, 227, 247, 1) 0%,
    rgba(164, 140, 217, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e3f7', endColorstr='#a48cd9', GradientType=1 );
}
// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }
