<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>duda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button fill="clear" (click)="back('../home')">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title size="large">duda</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <img class="perfil"
      src="https://pps.whatsapp.net/v/t61.24694-24/337997300_1621983318299929_7318399172688627475_n.jpg?ccb=11-4&oh=01_AdSNqrFuXSUHiFXzjDlIm8SHJDRS0z4YgZrhVPLZzxmMBw&oe=6432C47B"
      alt="">
  </ion-item>
  <ion-item class="about">
    <ion-label>
      About
    </ion-label>
    Maria Eduarda é um nome composto de origem latina, que significa "senhora soberana guardiã das riquezas". Pessoas
    chamadas Maria Eduarda tendem a ser extrovertidas, comunicativas e sociáveis, gostando de estar rodeadas de amigos e
    familiares. A cor associada ao nome Maria Eduarda é o rosa, que simboliza o amor e a compaixão. Algumas pessoas
    famosas com o nome Maria Eduarda incluem a jogadora brasileira de vôlei Maria Eduarda "Duda" Lisboa e a atriz
    portuguesa Maria Eduarda. De acordo com a numerologia, o número associado ao nome Maria Eduarda é o número 9, que
    representa a generosidade e a espiritualidade.
  </ion-item>
</ion-content>
