<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>duda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button fill="clear" (click)="back('../home')">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title size="large">duda</ion-title>
    </ion-toolbar>
  </ion-header>
    <img class="perfil"
      src="https://pps.whatsapp.net/v/t61.24694-24/337997300_1621983318299929_7318399172688627475_n.jpg?ccb=11-4&oh=01_AdSNqrFuXSUHiFXzjDlIm8SHJDRS0z4YgZrhVPLZzxmMBw&oe=6432C47B"
      alt="">
      <ion-row>
        <ion-col>
          <ion-button size="large" class="aboutButton">
            <ion-icon slot="start" size="large" name="call"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="large" class="aboutButton">
            <ion-icon slot="start" size="large" name="videocam"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="large" class="aboutButton">
            <ion-icon cslot="start" size="large" name="search"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-card>
        <ion-card-content> something serious </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content class="card">
          14999999999 sasa@gmail.com
        </ion-card-content>
      </ion-card>
</ion-content>
