<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>duda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button fill="clear" (click)="back('../home')">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title size="large">duda</ion-title>
    </ion-toolbar>
  </ion-header>
    <img class="perfil"
      src="https://pps.whatsapp.net/v/t61.24694-24/337997300_1621983318299929_7318399172688627475_n.jpg?ccb=11-4&oh=01_AdSNqrFuXSUHiFXzjDlIm8SHJDRS0z4YgZrhVPLZzxmMBw&oe=6432C47B"
      alt="">

  <ion-card>
    <ion-card-content>
      <li>
        149983338899
      </li>
      <li>duda@gmail.com</li>
    </ion-card-content>
  </ion-card>
</ion-content>
